<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://kit.fontawesome.com/20c5629a29.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Home2.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white Vr-websitr-nav-bar fixed-top ">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2F99designs.com%2Finspiration%2Flogos%2Fevent-planning&psig=AOvVaw0NeU907Cy8QxGFjNJLJA34&ust=1697428561654000&source=images&cd=vfe&ved=0CBEQjRxqFwoTCNCX56SU94EDFQAAAAAdAAAAABAE" class="Nav-logo" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto ">
                    <a class="nav-link active custom-nav-items" href="#bannerSection">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-link custom-nav-items" href="#gallerySection">Gallery</a>
                    <a class="nav-link custom-nav-items" href="#eventSection">Events</a>

                    <a class="nav-link custom-nav-items" href="#contactusSection">Contact Us</a>
                    <a class="nav-link custom-nav-items" href="#followUsSection">Follow Us</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="banner-ssection " id="bannerSection">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <h1 class='text-center banner-section-heading'>Welcome</h1>
                    <p class="  text-center banner-section-discription">Events is A Professionality Managed Event</p>

                </div>
                <div class="col-12 col-md-4">
                    <div class="banner-section-card shadow d-flex flex-column justify-content-center">
                        <div class="d-flex flex-row justify-content-center">
                            <img class="banner-section-card-img" src="https://thumbs.dreamstime.com/b/event-management-concept-event-management-concept-white-background-114394241.jpg?w=768" />
                            <h4 class=" ml-3 baner-section-card-title">Birthday</h4>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="banner-section-card shadow d-flex flex-column justify-content-center">
                        <div class="d-flex flex-row justify-content-center">
                            <img class="banner-section-card-img" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAUNJREFUSEvtltsNwjAMAN1NYBOYBJgEmASYBDaBTUCH4spqnSaElPJRS1EriH1+xU0jE0kzEVdKwSsRWYR1E5FHWNlxfAIGdgowD4ADRxHhmZRc8FVEAOcI8HMqAykw6QTKU2UXXjTFOMTamH38xz5K4EoKbCMlCoV6xnCOUmhmiPxQAkZpHxQHjXSMWz0cxeGexCLG+3vYTbqWOcU1e9DFBrprL+UxsPUaxaxONeBk1ClwSbTK16jd3oiBtamIlIhLZNBGDPwsaKquc3T4NvzY44wJtnX+XzCHn7NrhwB1pl7IUIejY/epLfSwcbFn2qbAnl2tlw79b8Fqj3nwHqMWbGsyFridZL8Gt6N3BuvXaKwau6lmyjBtrNTuahfs3TZqg9ue6o4yoibdetWpBe5dBFNXn5KvUpbODM5KU41Nk6X6BUSheB85iKFFAAAAAElFTkSuQmCC" />
                            <h4 class=" ml-3 baner-section-card-title">Sangeet</h4>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="banner-section-card shadow d-flex flex-column justify-content-center">
                        <div class=" d-flex flex-row justify-content-center">
                            <img class="banner-section-card-img" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAWVJREFUSEvtlj1OAzEQRl9uAjeBjgokuAAUcI3ANaAgFwgSVHTASeAmRB+yI8eyxzOrlbbB1W5i+803v7tiobVaiMsU8DVw1DB4A/x4hUTAgn0bFwt66oV7wSNotscN94C90BC8BX6uYnjijVuxT8rLeH8BBzlQg38nQCJHjrNBJfgeWEduSZe0Mrx3zU1SflBOXrAOf1auVInJ6JERD4A4IbBgKpfeElT5YeVEGKxEUXzyugXO0ss78JSeBf8wlIfB+9gAr8B5JfsNuEi/WSELg3MSSuljx9d3hfJedYTApZu3wGUH/AJcpf/UWluJFgKXSeUFz6JYInLhe1xttdiQYoEjyaWaVlm1VhhcTx2rnKzRGQbLejV5HbSGvWp41gZSjjzBWy2z597S5ZMU1zETXIk06s9DsJUUwaHV3d5UPOqzc8D3Y7j+EPCOt6gRCkvOjb+znm+uKMS1/x/sctMcmxZz9Q74SmIf0Z/sMQAAAABJRU5ErkJggg==" />
                            <h4 class=" ml-3 baner-section-card-title">Photography</h4>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="banner-section-card shadow d-flex flex-column justify-content-center">
                        <div class="d-flex flex-row justify-content-center">
                            <img class="banner-section-card-img" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAb9JREFUSEvFltFRBSEMRfM60UrUTrQStRK1ErUS7UTnOGTnbjYQ0HEeP/uxwMm9BJKTnWmczsS134AvzOzazPh+tsD5vq2ImAUDuTWz+8HmDn+ZCaICzwBjLB7AozhyiHcEBvraLF1x0ecSwE0P3gMD/VikPZsZKp9aDrC8C++BUUoCrQzUeYI9SD6k8AxMxCTSzHDQu5kB06Fw3LjTnxGMStTOjio53TlUA96uXFy4opbgKrDmClCO42fEhSQUk2cGiRTtzdap6ssMrDaz6VUnwYgc2/zVqoIkX3CSsSWgKo4T2FivhgNmlfp8FUTAJNrOagVjCWBsj/BVsJ7ztlYVa/o7mOAifBXMHl9NfqpYLdHHwOH+kuFEdr7ZXWatOlmCM1Ue9SiZDg9FAG9OqtXdO9dIM2Cc2K5MW6fP78aL91gnRbvVspFq3VOPb+dGBKvqLPoZuNZjvRE7IVWRyM56Bh4dKYuEZ7A2AH+FZ851H/nYCMSaulLFYq6kRUItylofAqCZY4waP/4fSqFuPlPWqu4yy/DydavAvinqUTjqTNwNEqmsXLNgDYAgvGZ7U/9vDX1Vc5f/rypeBvQWfAPpnHofzex/EgAAAABJRU5ErkJggg==" />
                            <h4 class=" ml-3 baner-section-card-title">Wedding</h4>
                        </div>
                    </div>
                </div>

                
                <div class="col-12 col-md-4">
                    <div class="banner-section-card shadow d-flex flex-column justify-content-center">
                        <div class="d-flex flex-row justify-content-center">
                            <img class="banner-section-card-img" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAWNJREFUSEvVlgFOwzAMRf9OwjgJcJNxEuAksJMAJ4GjoIfqyU3tJilEhUjTtCzN87d/nRy00zjsxNW/BB8l8XnbkrUexUA+JT1KenAw5s6SXqY5fldHDQzsVIBqm/pA0iBq4FdJtwHJNucb9QRYDv67zqJcAz9PannWQFfTHBuaGqAfkp4myI0LlvTfR/A1MJtZXdPIE0WWqVR1BvYpRgmG6hnegCE8ApcpBmyObYWbIa32vHJ3/uEIbCleLG6lTuuAIgJzLlSXYK8W8HsnrFxuZmR+VjIPJj2ARw4c/l22PwGmFrh55AgVWyMYCb40ntJcWYv8jWBmzi7BIw12SXNpLn6PTPdMZNRARqhetN2sV/tG8tP6hh0wA5NyjBadsz2BdJ9OVu/e24cPKj2LI3NFaso7Vovi6lFau/oA2dLROAJXb58t4C2vmL8ahRlqAfMgtW41Gkqrd+1WcEtdu9bsBv4Cr49IHxBXD7QAAAAASUVORK5CYII=" />
                            <h4 class=" ml-3 baner-section-card-title">Catering</h4>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="banner-section-card shadow d-flex flex-column justify-content-center">
                        <div class=" d-flex flex-row justify-content-center">
                            <img class="banner-section-card-img" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAZNJREFUSEvFlu1NAzEMht1JgE1gE5gEmASYBDaBTUBPdY5yrr+uV9RIVX9cksfva8fJQa40DlfiyjngWxG5FxH+f5bA+f/aIqILBvIoIs/J5gr/6ARRgTtAL5Z3EXmdHDmZk4GBfi6WbnFR5+LAQwSPwEC/z6GZNcCfPOsjMEopoEsMV7kHflsKyULZQKvYfquCJOcoH8OC2QC1UcGsFptJVU2Q73HkLDhSC+Mkaie6DA4U+HFYMAXF4koxAc7z9OySisg1vt154Mxmq9gLkDTgSnYiht2zYjoTSqIxW+2BaRgvy+LfYBMNbmX1HvAcVLbPCG5WTLRZL+4UF0KzHuAq3pJjz0lyS+AojsZusOZSATcFUOdR1ccmNFtd9eequBKh49Pg2XOc5WcveFUjFpyp3gtOWyaedC6J6lKwtpeXBAuqZt/J5Txn1Sq9ljlPrgptC3xlcQW+hPLw9WGPU9QUqtelt27u26471StTF3W6Egq5Himk6KVyeqCbSSMA/Wk69En0Lw/6Zlz9aV2r+zs2Z/4BhfNjH71DHOkAAAAASUVORK5CYII=" />
                            <h4 class=" ml-3 baner-section-card-title">Promotions</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="events-section" id="eventSection">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class='text-center banner-section-heading'>Events</h1>
                    <p class="  text-center banner-section-discription">Events is A Professionality Managed Event</p>
                </div>
                <div class="col-12 col-md-4">
                    <div class="events-section-card mb-3">
                        <img class="events-section-card-img" src="https://5.imimg.com/data5/SELLER/Default/2021/6/CT/SG/RD/12461086/birthday-party-decorators-1000x1000.jpg" />
                        <h4 class="events-section-card-title">Birthday 2023</h4>
                        <div class="d-flex flex-row justify-content-center">
                            <img class=" ml-2 mt-1 events-section-card-icon-img" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAQhJREFUSEvtl90NwjAMhK+bwCYwCTAJsAlMApvAKOhQGqWRE52VoPDQPKauP/9cE3fCoDUN4kIBbwAcQ4A3AO9CsKrd93UFvAPwCLA9gGcBrNr9H5glOyflbZEB28IKXfMWWaV+ASC852IA29RhDk771BNMXwt91MCMsqRgT1BMxgWuKVgFF5Vey3gYuPS9qtnSjiKdhSr32ANQbFfwokrWd8xes0xcPLNpo+6lzt2lViGWXROYh8g9eDgElap7TWBFsYqNu9SKU8XGDR7W42FgVUiW3SquePHk1yJvEo4+v1gcfeJgYc1clzDs9YRzHj/VZq75GTPnmdxj6DN/ApSBvmfm0dcw8AeGI2cfvpBxsAAAAABJRU5ErkJggg==" />
                            <p class="ml-2 events-section-card-icon-title"> 30 May</p>
                            <img class=" ml-2 mt-1 events-section-card-icon-img" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAW1JREFUSEvFlotNAzEQRCedQCdQCaGShEqASpJOoBPQk7KRsfbnC1JWOl0Ur3c8sx/fTney3Z1wtRX4QdJe0vflOa8SWAF+knSQxHs2DoB9Sjp2DtEBNnaAduytA14BA/rVQZt8UOBVUpiCCvgUSNs5C+CPkWMGTK4ieQlKPrEXSSjjWSh7BvyT0ELC58t6pkooeQRMq7z/AzAhyPXHHCsCBhTwyLqM2e/KHQFTyXPeTFqC2eDg99zXSD/aeMjr/xGwl9+qAyzovNet7q2MAbEeRZlRnZnxEnDVvys5prAosD8WMc562Nh22gnfJeBqVK4wZnrZJVIWFw7VYOhMLpctwbNKrYZI0ubXJdLhXhRVi1RFloGHbCvGrFe5zoDd3NqGijF+WyQPJV4Bxrdqr5G5eyl0+9iTsAOe5nUM2pF69M/A26Cd4uoyb33g3cLY9o7My0LyTr8q9RjDbqXlj/mtUncmVulzC+MyeObwC987TR9GqvhdAAAAAElFTkSuQmCC" />
                            <p class="ml-2 events-section-card-icon-title">LONDON,UK</p>
                        </div>

                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="events-section-card mb-3">
                        <img class="events-section-card-img" src="https://5.imimg.com/data5/PX/AK/DX/SELLER-9571587/marriage-events-services.jpg" />
                        <h4 class="events-section-card-title">Weddings</h4>
                        <div class="d-flex flex-row justify-content-center">
                            <img class=" ml-2 mt-1 events-section-card-icon-img" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAQhJREFUSEvtl90NwjAMhK+bwCYwCTAJsAlMApvAKOhQGqWRE52VoPDQPKauP/9cE3fCoDUN4kIBbwAcQ4A3AO9CsKrd93UFvAPwCLA9gGcBrNr9H5glOyflbZEB28IKXfMWWaV+ASC852IA29RhDk771BNMXwt91MCMsqRgT1BMxgWuKVgFF5Vey3gYuPS9qtnSjiKdhSr32ANQbFfwokrWd8xes0xcPLNpo+6lzt2lViGWXROYh8g9eDgElap7TWBFsYqNu9SKU8XGDR7W42FgVUiW3SquePHk1yJvEo4+v1gcfeJgYc1clzDs9YRzHj/VZq75GTPnmdxj6DN/ApSBvmfm0dcw8AeGI2cfvpBxsAAAAABJRU5ErkJggg==" />
                            <p class="ml-2 events-section-card-icon-title"> 15 June</p>
                            <img class=" ml-2 mt-1 events-section-card-icon-img" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAW1JREFUSEvFlotNAzEQRCedQCdQCaGShEqASpJOoBPQk7KRsfbnC1JWOl0Ur3c8sx/fTney3Z1wtRX4QdJe0vflOa8SWAF+knSQxHs2DoB9Sjp2DtEBNnaAduytA14BA/rVQZt8UOBVUpiCCvgUSNs5C+CPkWMGTK4ieQlKPrEXSSjjWSh7BvyT0ELC58t6pkooeQRMq7z/AzAhyPXHHCsCBhTwyLqM2e/KHQFTyXPeTFqC2eDg99zXSD/aeMjr/xGwl9+qAyzovNet7q2MAbEeRZlRnZnxEnDVvys5prAosD8WMc562Nh22gnfJeBqVK4wZnrZJVIWFw7VYOhMLpctwbNKrYZI0ubXJdLhXhRVi1RFloGHbCvGrFe5zoDd3NqGijF+WyQPJV4Bxrdqr5G5eyl0+9iTsAOe5nUM2pF69M/A26Cd4uoyb33g3cLY9o7My0LyTr8q9RjDbqXlj/mtUncmVulzC+MyeObwC987TR9GqvhdAAAAAElFTkSuQmCC" />
                            <p class="ml-2 events-section-card-icon-title">BERLIN,GERMANY</p>
                        </div>

                    </div>
                </div>


                <div class="col-12 col-md-4">
                    <div class="events-section-card mb-3">
                        <img class="events-section-card-img" src="https://discoverhalifaxns.com/wp-content/uploads/2023/05/discover-halifax-ferris-wheel-1400x0-c-default.jpg" />
                        <h4 class="events-section-card-title">Photography</h4>
                        <div class="d-flex flex-row justify-content-center">
                            <img class=" ml-2 mt-1 events-section-card-icon-img" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAQhJREFUSEvtl90NwjAMhK+bwCYwCTAJsAlMApvAKOhQGqWRE52VoPDQPKauP/9cE3fCoDUN4kIBbwAcQ4A3AO9CsKrd93UFvAPwCLA9gGcBrNr9H5glOyflbZEB28IKXfMWWaV+ASC852IA29RhDk771BNMXwt91MCMsqRgT1BMxgWuKVgFF5Vey3gYuPS9qtnSjiKdhSr32ANQbFfwokrWd8xes0xcPLNpo+6lzt2lViGWXROYh8g9eDgElap7TWBFsYqNu9SKU8XGDR7W42FgVUiW3SquePHk1yJvEo4+v1gcfeJgYc1clzDs9YRzHj/VZq75GTPnmdxj6DN/ApSBvmfm0dcw8AeGI2cfvpBxsAAAAABJRU5ErkJggg==" />
                            <p class="ml-2 events-section-card-icon-title"> 25 June</p>
                            <img class=" ml-2 mt-1 events-section-card-icon-img" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAW1JREFUSEvFlotNAzEQRCedQCdQCaGShEqASpJOoBPQk7KRsfbnC1JWOl0Ur3c8sx/fTney3Z1wtRX4QdJe0vflOa8SWAF+knSQxHs2DoB9Sjp2DtEBNnaAduytA14BA/rVQZt8UOBVUpiCCvgUSNs5C+CPkWMGTK4ieQlKPrEXSSjjWSh7BvyT0ELC58t6pkooeQRMq7z/AzAhyPXHHCsCBhTwyLqM2e/KHQFTyXPeTFqC2eDg99zXSD/aeMjr/xGwl9+qAyzovNet7q2MAbEeRZlRnZnxEnDVvys5prAosD8WMc562Nh22gnfJeBqVK4wZnrZJVIWFw7VYOhMLpctwbNKrYZI0ubXJdLhXhRVi1RFloGHbCvGrFe5zoDd3NqGijF+WyQPJV4Bxrdqr5G5eyl0+9iTsAOe5nUM2pF69M/A26Cd4uoyb33g3cLY9o7My0LyTr8q9RjDbqXlj/mtUncmVulzC+MyeObwC987TR9GqvhdAAAAAElFTkSuQmCC" />
                            <p class="ml-2 events-section-card-icon-title">VENICE,ITALY</p>
                        </div>

                    </div>
                </div>


                <div class="col-12 col-md-4">
                    <div class="events-section-card mb-3">
                        <img class="events-section-card-img" src="https://assets-global.website-files.com/61f29c609f84a86e418fbcfb/63ecdf6e6df724eab1f0e8ca_20230215T0132-25bece5c-5ab8-4c33-98c7-60ad2668054b.webp" />
                        <h4 class="events-section-card-title">Sangeet</h4>
                        <div class="d-flex flex-row justify-content-center">
                            <img class=" ml-2 mt-1 events-section-card-icon-img" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAQhJREFUSEvtl90NwjAMhK+bwCYwCTAJsAlMApvAKOhQGqWRE52VoPDQPKauP/9cE3fCoDUN4kIBbwAcQ4A3AO9CsKrd93UFvAPwCLA9gGcBrNr9H5glOyflbZEB28IKXfMWWaV+ASC852IA29RhDk771BNMXwt91MCMsqRgT1BMxgWuKVgFF5Vey3gYuPS9qtnSjiKdhSr32ANQbFfwokrWd8xes0xcPLNpo+6lzt2lViGWXROYh8g9eDgElap7TWBFsYqNu9SKU8XGDR7W42FgVUiW3SquePHk1yJvEo4+v1gcfeJgYc1clzDs9YRzHj/VZq75GTPnmdxj6DN/ApSBvmfm0dcw8AeGI2cfvpBxsAAAAABJRU5ErkJggg==" />
                            <p class="ml-2 events-section-card-icon-title"> 10 July</p>
                            <img class=" ml-2 mt-1 events-section-card-icon-img" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAW1JREFUSEvFlotNAzEQRCedQCdQCaGShEqASpJOoBPQk7KRsfbnC1JWOl0Ur3c8sx/fTney3Z1wtRX4QdJe0vflOa8SWAF+knSQxHs2DoB9Sjp2DtEBNnaAduytA14BA/rVQZt8UOBVUpiCCvgUSNs5C+CPkWMGTK4ieQlKPrEXSSjjWSh7BvyT0ELC58t6pkooeQRMq7z/AzAhyPXHHCsCBhTwyLqM2e/KHQFTyXPeTFqC2eDg99zXSD/aeMjr/xGwl9+qAyzovNet7q2MAbEeRZlRnZnxEnDVvys5prAosD8WMc562Nh22gnfJeBqVK4wZnrZJVIWFw7VYOhMLpctwbNKrYZI0ubXJdLhXhRVi1RFloGHbCvGrFe5zoDd3NqGijF+WyQPJV4Bxrdqr5G5eyl0+9iTsAOe5nUM2pF69M/A26Cd4uoyb33g3cLY9o7My0LyTr8q9RjDbqXlj/mtUncmVulzC+MyeObwC987TR9GqvhdAAAAAElFTkSuQmCC" />
                            <p class="ml-2 events-section-card-icon-title">NEW YORK,USA</p>
                        </div>

                    </div>
                </div>


                <div class="col-12 col-md-4">
                    <div class="events-section-card mb-3">
                        <img class="events-section-card-img" src="https://imgmedia.lbb.in/media/2019/08/5d662c8ea84656a7661be92a_1566977166741.jpg" />
                        <h4 class="events-section-card-title">Catering</h4>
                        <div class="d-flex flex-row justify-content-center">
                            <img class=" ml-2 mt-1 events-section-card-icon-img" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAQhJREFUSEvtl90NwjAMhK+bwCYwCTAJsAlMApvAKOhQGqWRE52VoPDQPKauP/9cE3fCoDUN4kIBbwAcQ4A3AO9CsKrd93UFvAPwCLA9gGcBrNr9H5glOyflbZEB28IKXfMWWaV+ASC852IA29RhDk771BNMXwt91MCMsqRgT1BMxgWuKVgFF5Vey3gYuPS9qtnSjiKdhSr32ANQbFfwokrWd8xes0xcPLNpo+6lzt2lViGWXROYh8g9eDgElap7TWBFsYqNu9SKU8XGDR7W42FgVUiW3SquePHk1yJvEo4+v1gcfeJgYc1clzDs9YRzHj/VZq75GTPnmdxj6DN/ApSBvmfm0dcw8AeGI2cfvpBxsAAAAABJRU5ErkJggg==" />
                            <p class="ml-2 events-section-card-icon-title"> 20 July</p>
                            <img class=" ml-2 mt-1 events-section-card-icon-img" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAW1JREFUSEvFlotNAzEQRCedQCdQCaGShEqASpJOoBPQk7KRsfbnC1JWOl0Ur3c8sx/fTney3Z1wtRX4QdJe0vflOa8SWAF+knSQxHs2DoB9Sjp2DtEBNnaAduytA14BA/rVQZt8UOBVUpiCCvgUSNs5C+CPkWMGTK4ieQlKPrEXSSjjWSh7BvyT0ELC58t6pkooeQRMq7z/AzAhyPXHHCsCBhTwyLqM2e/KHQFTyXPeTFqC2eDg99zXSD/aeMjr/xGwl9+qAyzovNet7q2MAbEeRZlRnZnxEnDVvys5prAosD8WMc562Nh22gnfJeBqVK4wZnrZJVIWFw7VYOhMLpctwbNKrYZI0ubXJdLhXhRVi1RFloGHbCvGrFe5zoDd3NqGijF+WyQPJV4Bxrdqr5G5eyl0+9iTsAOe5nUM2pF69M/A26Cd4uoyb33g3cLY9o7My0LyTr8q9RjDbqXlj/mtUncmVulzC+MyeObwC987TR9GqvhdAAAAAElFTkSuQmCC" />
                            <p class="ml-2 events-section-card-icon-title">VIETNAM,USA</p>
                        </div>

                    </div>
                </div>



                <div class="col-12 col-md-4">
                    <div class="events-section-card mb-3">
                        <img class="events-section-card-img" src="https://image.freepik.com/free-vector/promotion-background-design_1200-210.jpg" />
                        <h4 class="events-section-card-title">Promotions</h4>
                        <div class="d-flex flex-row justify-content-center">
                            <img class=" ml-2 mt-1 events-section-card-icon-img" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAQhJREFUSEvtl90NwjAMhK+bwCYwCTAJsAlMApvAKOhQGqWRE52VoPDQPKauP/9cE3fCoDUN4kIBbwAcQ4A3AO9CsKrd93UFvAPwCLA9gGcBrNr9H5glOyflbZEB28IKXfMWWaV+ASC852IA29RhDk771BNMXwt91MCMsqRgT1BMxgWuKVgFF5Vey3gYuPS9qtnSjiKdhSr32ANQbFfwokrWd8xes0xcPLNpo+6lzt2lViGWXROYh8g9eDgElap7TWBFsYqNu9SKU8XGDR7W42FgVUiW3SquePHk1yJvEo4+v1gcfeJgYc1clzDs9YRzHj/VZq75GTPnmdxj6DN/ApSBvmfm0dcw8AeGI2cfvpBxsAAAAABJRU5ErkJggg==" />
                            <p class="ml-2  events-section-card-icon-title"> 25 July</p>
                            <img class=" ml-2 mt-1 events-section-card-icon-img" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAW1JREFUSEvFlotNAzEQRCedQCdQCaGShEqASpJOoBPQk7KRsfbnC1JWOl0Ur3c8sx/fTney3Z1wtRX4QdJe0vflOa8SWAF+knSQxHs2DoB9Sjp2DtEBNnaAduytA14BA/rVQZt8UOBVUpiCCvgUSNs5C+CPkWMGTK4ieQlKPrEXSSjjWSh7BvyT0ELC58t6pkooeQRMq7z/AzAhyPXHHCsCBhTwyLqM2e/KHQFTyXPeTFqC2eDg99zXSD/aeMjr/xGwl9+qAyzovNet7q2MAbEeRZlRnZnxEnDVvys5prAosD8WMc562Nh22gnfJeBqVK4wZnrZJVIWFw7VYOhMLpctwbNKrYZI0ubXJdLhXhRVi1RFloGHbCvGrFe5zoDd3NqGijF+WyQPJV4Bxrdqr5G5eyl0+9iTsAOe5nUM2pF69M/A26Cd4uoyb33g3cLY9o7My0LyTr8q9RjDbqXlj/mtUncmVulzC+MyeObwC987TR9GqvhdAAAAAElFTkSuQmCC" />
                            <p class="ml-2 events-section-card-icon-title">UK</p>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="Gallery-section" id="gallerySection">
        <div class="container">
            <div class="row">
                <div class='col-12'>
                    <h1 class='text-center banner-section-heading'>Gallery</h1>
                    <p class="  text-center banner-section-discription">Events is A Professionality Managed Event</p>
                </div>
                <div class="col-12 col-md-4">
                    <img class=" mb-3 Gallery-section-images" src="https://europeanbusinessmagazine.com/wp-content/uploads/2019/05/event.jpg" />
                </div>
                <div class="col-12 col-md-4">
                    <img class=" mb-3 Gallery-section-images" src="https://cdn.business2community.com/wp-content/uploads/2018/02/community-events.jpeg" />
                </div>
                <div class="col-12 col-md-4">
                    <img class=" mb-3 Gallery-section-images" src="https://myventurepad.com/wp-content/uploads/2018/09/Corporate-Events-DJ.jpg" />
                </div>
                
                <div class="col-12 col-md-4">
                    <img class=" mb-3 Gallery-section-images" src="https://wallpaperaccess.com/full/2489661.jpg" />
                </div>
                <div class="col-12 col-md-4">
                    <img class=" mb-3 Gallery-section-images" src="https://wallpapercave.com/wp/wp7488460.jpg" />
                </div>
                <div class="col-12 col-md-4">
                    <img class=" mb-3 Gallery-section-images" src="https://tribuneonlineng.com/wp-content/uploads/2016/11/event-planner.jpg" />
                </div>
            </div>
        </div>
    </div>


    <div class="Contact-Us" id="contactusSection">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class=' text-center banner-section-heading'>Contact Form</h1>
                    <p class=" mb-5  text-center banner-section-discription">Events is A Professionality Managed Event</p>
                    <form action="/MainHome" method = "POST">
                        <div class="mb-1">
                            <label class="Staff-Sign-Up-Page-Card-Label" for="staffSignUpFirstName">FirstName</label>
                            <div class="d-flex flex-row">
                                <i class="fa-solid fa-user Staff-Sign-Up-Page-Card-icon pt-1"></i>
                                <input name="FirstName" class="Staff-Sign-Up-Page-Card-Input ml-1" id="staffSignUpFirstName" type="text" placeholder="Type your First Name">

                            </div>
                            <p class="error-msg" id="FirtNameErrorMsg"></p>
                            <hr />
                        </div>
                        <div class="mb-2">
                            <label class="Staff-Sign-Up-Page-Card-Label" for="staffSignUpLastName">Last Name</label>
                            <div class='d-flex flex-row'>
                                <i class="fa-solid fa-lock Staff-Sign-Up-Page-Card-icon pt-1"></i>
                                <input name="LastName" class="Staff-Sign-Up-Page-Card-Input ml-1" id="staffSignUpLastName" type="text" placeholder="Type your Last Name">
                            </div>
                            <p class="error-msg" id="LastNameErrorMsg"></p>
                            <hr class="mb-1" />
                        </div>

                        <div class="mb-1">
                            <label class="Staff-Sign-Up-Page-Card-Label" for="staffSignUpRegistrationId">Subject</label>
                            <div class="d-flex flex-row">
                                <i class="fa-solid fa-user Staff-Sign-Up-Page-Card-icon pt-1"></i>
                                <input name="Subject" class="Staff-Sign-Up-Page-Card-Input ml-1" id="staffSignUpRegistrationId" type="text" placeholder="Subject">

                            </div>
                            <p class="error-msg" id="RegistrationIdErrorMsg"></p>
                            <hr />
                        </div>

                        <div class="mb-1">
                            <label class="Staff-Sign-Up-Page-Card-Label" for="staffSignUpEnterPasssword">Mobile Number</label>
                            <div class="d-flex flex-row">
                                <i class="fa-solid fa-user Staff-Sign-Up-Page-Card-icon pt-1"></i>
                                <input name="Number" class="Staff-Sign-Up-Page-Card-Input ml-1" id="staffSignUpEnterPassword" type="textarea" placeholder="Type your mobile number">

                            </div>
                            <p class="error-msg" id="NewPasswordErrorMsg"></p>
                            <hr />
                        </div>
                        <div class="mb-1">
                            <label class="Staff-Sign-Up-Page-Card-Label" for="staffSignUpEnterPasssword">Email Id</label>
                            <div class="d-flex flex-row">
                                <i class="fa-solid fa-user Staff-Sign-Up-Page-Card-icon pt-1"></i>
                                <input name="EmailId" class="Staff-Sign-Up-Page-Card-Input ml-1" id="staffSignUpEnterPassword" type="email" placeholder="Type your Email Id">

                            </div>
                            <p class="error-msg" id="NewPasswordErrorMsg"></p>
                            <hr />
                        </div>
                        <div class="mb-1">
                            <label class="Staff-Sign-Up-Page-Card-Label" for="staffSignUpEnterPasssword">Message</label>
                            <div class="d-flex flex-row">
                                <i class="fa-solid fa-user Staff-Sign-Up-Page-Card-icon pt-1"></i>
                                <input name="Message" class="Staff-Sign-Up-Page-Card-Input ml-1" id="staffSignUpEnterPassword" type="textarea" placeholder="Type your message">

                            </div>
                            <p class="error-msg" id="NewPasswordErrorMsg"></p>
                            <hr />
                        </div>



                        <div>
                            <button type="submit" value="Submit" class="Staff-Sign-Up-Page-Card-button">SUBMIT</button>
                        </div>

                    </form>


                </div>
            </div>
        </div>

    </div>


    <div class="follow-us-section pt-5 pb-5" id="followUsSection">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="follow-us-section-heading">Follow Us</h1>
                    <p class="  text-center banner-section-discription">Events is A Professionality Managed Event</p>
                </div>
                <div class="col-12">
                    <div class="d-flex flex-row justify-content-center">
                        <div class="follow-us-icon-container">
                            <a href="https://twitter.com/i/flow/login" target="_blank"><i class="fab fa-twitter icon"></i></a>
                        </div>
                        <div class="follow-us-icon-container">
                            <a href="https://www.instagram.com/?hl=en" target="_blank"><i class="fab fa-instagram icon"></i></a>
                        </div>
                        <div class="follow-us-icon-container">
                           <a href="https://www.facebook.com/" target="_blank"> <i class="fab fa-facebook icon"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>






</body>

</html>
