<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='LogIn.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="Staff-Log-In-Page d-flex flex-column justify-content-center  ">
        <div class="container ">
            <div class="row">
                <div class="col-12 ">
                    <div class="Staff-Log-In-Page-Card m-auto shadow-lg ">
                        <h1 class="text-center Staff-Log-In-Page-Card-heading mb-5 ">Login</h1>
                        <form method="POST" action="/LogIn" >
                            <div class="mb-3">
                                <label class="Staff-Log-In-Page-Card-Label" for="staffLoginUserName">Username</label>
                                <div class="d-flex flex-row">
                                    <i class="fa-solid fa-user Staff-Log-In-Page-Card-icon pt-1"></i>
                                    <input name="UserName" class="Staff-Log-In-Page-Card-Input ml-1" id="staffLoginUserName" type="text" placeholder="Type your username">

                                </div>
                                <p class="error-msg" id="UserNameErrorMsg"></p>
                                <hr />
                            </div>
                            <div class="mb-4">
                                <label class="Staff-Log-In-Page-Card-Label" for="staffLoginPassword">Password</label>
                                <div class='d-flex flex-row'>
                                    <i class="fa-solid fa-lock Staff-Log-In-Page-Card-icon pt-1"></i>
                                    <input name="Password" class="Staff-Log-In-Page-Card-Input ml-1" id="staffLoginPassword" type="password" placeholder="Type your password">
                                </div>
                                <p class="error-msg" id="PasswordErrorMsg"></p>
                                <hr class="mb-1" />

                                <h6 class="Staff-Log-In-Page-Card-forgot">Forgot password?</h6>
                            </div>
                            <div>
                                <button type="submit" value="Submmit" class="Staff-Log-In-Page-Card-button">LOGIN</button>
                            </div>
                            <div class="mt-5">
                                <h6 class=" sign-up-1">Or Sign Up Using</h6>
                                <a href="/SignUp"><h5 class="sign-up-2">SIGN UP</h5></a>
                            </div>
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>



    <script>
        let staffLoginUserNameEl = document.getElementById("staffLoginUserName");
        let staffLoginPasswordEl = document.getElementById("staffLoginPassword");
        let UserNameErrorMsgEl = document.getElementById("UserNameErrorMsg");
        let PasswordErrorMsgEl = document.getElementById("PasswordErrorMsg");

        staffLoginUserNameEl.addEventListener("blur", function(event) {
            if (event.target.value === "") {
                UserNameErrorMsgEl.textContent = "Required*";
            } else {
                UserNameErrorMsgEl.textContent = "";
            }
        });
        staffLoginPasswordEl.addEventListener("blur", function(event) {
            if (event.target.value === "") {
                PasswordErrorMsgEl.textContent = "Required*";
            } else {
                PasswordErrorMsgEl.textContent = "";
            }
        });



    </script>
</body>

</html>